/*Drop Down Menu Starts*/
.drop-down-menu {
    position: absolute;
    right: 20px;
}

.drop-down-menu .profile {
    border-radius: 50%;
    height: 40px;
    width: 40px;
    overflow: hidden;
    cursor: pointer;
}

.drop-down-menu #profile-picture {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.drop-down-menu .menu {
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    border-radius: 5px;
    padding: 10px 20px;
    position: absolute;
    right: -5px;
    width: 200px;
    transition: 0.5s;
    /* This Top Is Used For Smooth Bottom Transition*/
    top: 100px;
    visibility: hidden;
    opacity: 0;
}

.drop-down-menu .menu.active {
    opacity: 1;
    top: 50px;
    visibility: visible;
}

.drop-down-menu #username {
    color: #555;
    font-size: 18px;
    font-weight: 600;
    padding: 15px 0px;
    width: 100%;
}

.drop-down-menu .drop-down-list-item {
    display: flex;
    align-items: center;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    list-style: none;
    padding: 10px 0px;
}

.drop-down-menu .drop-down-list-item a {
    display: inline-block;
    color: #555;
    font-size: 14px;
    font-weight: 600;
    padding-left: 15px;
    text-decoration: none;
    transition: 0.5s;
}

/*Drop Down Menu Ends*/